{% extends 'store/base.html' %}
{% load static %}
{% block title %}<title>Reset Your Password</title>{% endblock %}
{% block content%}
<div class="container d-flex justify-content-center text-center pt-5">
    <div class="box-element ">
        <div class="cart-row1 px-4">
        <h3 style="font-weight:500;color:rgb(0, 0, 0);">Reset Your Password</h3>
        {% if validlink %}
        <p style="font-weight:500;">Please enter your password twice:</p>
        <form method='post'class="pb-3">
            {{ form.as_p }}
            {% csrf_token %}
            <input class="btn btn-primary btn-block" type="submit" value="Change My Password">
        </form>
        {% else %}
 <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
