{% extends 'store/base.html' %}
{% load static %}
{% block title %}<title>Password Reset</title>{% endblock %}
{% block content%}
<div class="container d-flex justify-content-center text-center pt-5">
    <div class="box-element ">
        <div class="cart-row1 px-4">
        <h3 style="font-weight:500;color:rgb(0, 0, 0);">Password Set Successfully</h3>
        <p style="font-weight:500;">Your password has been set. You can <a href="{% url "login" %}">log in now</a></p>
        </div>
    </div>
</div>
{% endblock %}