{% extends 'store/base.html' %}
{% load static %}
{% block title %}<title>Change Your Password</title>{% endblock %}
{% block content%}
<div class="container d-flex justify-content-center text-center pt-5">
    <div class="box-element ">
        <div class="cart-row1 px-4">
        <h3 style="font-weight:600;">Change Your Password</h3>
        <p style="font-weight:550;">Use the form below to change your password:</p>
        <form method='post'class="pb-3">
            {{ form.as_p }}
            {% csrf_token %}
            <input class="btn btn-success" type="submit" value="Change">
        </form>
        </div>
    </div>
</div>
{% endblock %}
