{% extends 'store/base.html' %}
{% load static %}
{% block title %}<title>Reset Your Password</title>{% endblock %}
{% block content%}
<div class="container d-flex justify-content-center text-center pt-5">
    <div class="box-element ">
        <div class="cart-row1 px-4">
        <h3 style="font-weight:500;color:rgb(0, 0, 0);">Forgotten Your Password?</h3>
        <p style="font-weight:500;">Enter your e-mail address to obtain a new password:</p>
        <form method='post'class="pb-3">
            {{ form.as_p }}
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Send E-mail">
        </form>
        </div>
    </div>
</div>
{% endblock %}
